<?xml version="1.0"?>

<model>
  <name>CropWithWeed</name>
  <version>1.0</version>
  <sdf version="1.5">CropWithWeed.sdf</sdf>

  <author>
    <name>Meet Gandhi</name>
    <email>gandhimeet1389@gmail.com</email>
  </author>

  <description>
    Crop with Weed model for farming simulation
  </description>
</model>
