<?xml version="1.0"?>

<robot name="agribot"
    xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
    xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
    xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
    xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- Included URDF Files -->
	<xacro:include filename="$(find agribot_description)/urdf/agribot_body.urdf.xacro" />	

        <property name="ns" value="agribot" />
    <!--Gazebo Plugin for simulating AGRIBOT dynamics
    <gazebo>
      <plugin name="agribot_dynamic" filename="libagribot_gazebo_plugins.so">
            <maxForce>62.0</maxForce>
            <bodyName>base_link</bodyName>
            <waterDensity>997.7735</waterDensity>
            <waterLevel>1</waterLevel>
            <xyzDampingFactor>20.0</xyzDampingFactor>
            <yawDampingFactor>20.0</yawDampingFactor>
            <rolPitDampingFactor>5.0</rolPitDampingFactor>
        </plugin>
    </gazebo>-->

	<gazebo>
	  <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
    	  	<robotNamespace>${ns}</robotNamespace>
  	  </plugin>
	</gazebo>
	

 <!-- Set up imu configuration -->
    <gazebo>	
        <plugin name="imu" filename="libhector_gazebo_ros_imu.so">
	  <serviceName>/imu/calibrate</serviceName>
	  <updateRate>200.0</updateRate>
	  <bodyName>imu_link</bodyName>
	  <frameId>imu_link</frameId>
	  <topicName>imu</topicName>
	  <rpyOffset>0 0 0</rpyOffset>
	  <xyzOffset>0 0 0</xyzOffset>
	  <gaussianNoise>0.00000001</gaussianNoise>
	  <accelOffset>0 0 -9.79999999586</accelOffset>
	  <accelDrift>0.00000001 0.00000001 0.00000001</accelDrift>
	  <accelDriftFrequency>0.00000001 0.00000001 0.00000001</accelDriftFrequency>
	  <accelGaussianNoise>0.00000001 0.00000001 0.00000001</accelGaussianNoise>
	  <rateDrift>0.0 0.0 0.0</rateDrift>
	  <rateDriftFrequency>0.0 0.0 0.0</rateDriftFrequency>
	  <rateGaussianNoise>0.0 0.0 0.0</rateGaussianNoise>
	  <headingDrift>0.0 0.0 0.0</headingDrift>
	  <headingDriftFrequency>0.0 0.0 0.0</headingDriftFrequency>
	  <headingGaussianNoise>0.0 0.0 0.0</headingGaussianNoise>
	</plugin>
     </gazebo>

    <!-- Set up gps configuration -->
    <gazebo> 
	<plugin name="gps_controller" filename="libhector_gazebo_ros_gps.so">
	    <alwayson>true</alwayson>
	    <updaterate>20.0</updaterate>
	    <bodyname>gps_link</bodyname>
	    <topicname>fix</topicname>
	    <velocitytopicname>fix_velocity</velocitytopicname>
	    <drift>5.0 5.0 5.0</drift>
	    <offset>0 0 0</offset>
	    <status> 0 </status>
	    <service> 1 </service>
            <referenceLatitude> 21.161289 </referenceLatitude>
	    <referenceLongitude> 72.787022 </referenceLongitude>			
	    <gaussiannoise>0.1 0.1 0.1</gaussiannoise>
	    <velocitydrift>0 0 0</velocitydrift>
	    <velocitygaussiannoise>0.1 0.1 0.1</velocitygaussiannoise>
	</plugin>
     </gazebo>
</robot>

