<?xml version="1.0"?>
<launch>
  <!-- Send the Kingfisher Robot URDF/XACRO to param server -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find agribot_description)/urdf/agribot_sensors.urdf.xacro'" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>
