<launch>

  <node pkg="mapviz" type="mapviz" name="mapviz"></node>

  <node pkg="gps_common" type="fix_translator" name="fix_translator"></node>

  <node pkg="swri_transform_util" type="initialize_origin.py" name="initialize_origin" >
    <param name="local_xy_frame" value="/map"/>
    <param name="local_xy_origin" value="auto"/>
      
  </node>

  <node pkg="tf" type="static_transform_publisher" name="agribot_mapviz_transform" args="0 0 0 0 0 0 /map /origin 100"  />

</launch>
