<?xml version="1.0"?>

<robot>
	<material name="Black">
		<color rgba="0.0 0.0 0.0 1.0"/>
	</material>

	<material name="Gray">
		<color rgba="0.7 0.7 0.7 1.0"/>
	</material>

	<material name="DarkGray">
		<color rgba="0.2 0.2 0.2 1.0"/>
	</material>

	<material name="White">
		<color rgba="1.0 1.0 1.0 1.0"/>
	</material>
	
	<material name="Yellow">
		<color rgba="0.8 0.8 0.0 1.0"/>
	</material>

	<material name="WoodBrown">
		<color rgba="0.7 0.6 0.4 1.0"/>
	</material>

	<material name="Red">
		<color rgba="1.0 0.0 0.0 1.0"/>
	</material>
</robot>
