<?xml version="1.0"?>

<robot name="agribot"
    xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
    xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
    xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
    xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- Included URDF Files -->
	<xacro:include filename="$(find agribot_description)/urdf/agribot_body.urdf.xacro" />	

        <property name="ns" value="agribot" />
    <!--Gazebo Plugin for simulating AGRIBOT dynamics
    <gazebo>
      <plugin name="agribot_dynamic" filename="libagribot_gazebo_plugins.so">
            <maxForce>62.0</maxForce>
            <bodyName>base_link</bodyName>
            <waterDensity>997.7735</waterDensity>
            <waterLevel>1</waterLevel>
            <xyzDampingFactor>20.0</xyzDampingFactor>
            <yawDampingFactor>20.0</yawDampingFactor>
            <rolPitDampingFactor>5.0</rolPitDampingFactor>
        </plugin>
    </gazebo>-->

	<gazebo>
	  <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
    	  	<robotNamespace>/agribot</robotNamespace>
  	  </plugin>
	</gazebo>

	<gazebo>
  <plugin name="skid_steer_drive_controller" filename="libgazebo_ros_skid_steer_drive.so">
    <updateRate>100.0</updateRate>
    <robotNamespace>/agribot</robotNamespace>
    <commandTopic>/agribot/cmd_vel</commandTopic>
    <odometryTopic>odom</odometryTopic>
    <odometryFrame>odom</odometryFrame>
    <leftFrontJoint>base_link_to_left_wheel_F_joint</leftFrontJoint>
    <rightFrontJoint>base_link_to_right_wheel_F_joint</rightFrontJoint>
    <leftRearJoint>base_link_to_left_wheel_R_joint</leftRearJoint>
    <rightRearJoint>base_link_to_right_wheel_R_joint</rightRearJoint>
    <wheelSeparation>0.65</wheelSeparation>
    <wheelDiameter>0.2</wheelDiameter>
    <robotBaseFrame>dummy_link</robotBaseFrame>
    <torque>20</torque>
    <topicName>/agribot/cmd_vel</topicName>
    <broadcastTF>True</broadcastTF>
    <covariance_x>0.000100</covariance_x>
    <covariance_y>0.000100</covariance_y>
    <covariance_z>0.000100</covariance_z>
    <covariance_yaw>0.0100</covariance_yaw>
  </plugin>
</gazebo>>	


    <!-- Set up imu configuration -->
    <gazebo>	
        <plugin name="imu" filename="libhector_gazebo_ros_imu.so">
	  <serviceName>/imu/calibrate</serviceName>
	<robotNamespace>/agribot</robotNamespace>
	  <updateRate>200.0</updateRate>
	  <bodyName>imu_link</bodyName>
	  <frameId>imu_link</frameId>
	  <topicName>imu</topicName>
	  <rpyOffset>0 0 0</rpyOffset>
	  <xyzOffset>0 0 0</xyzOffset>
	  <gaussianNoise>0.00000001</gaussianNoise>
	  <accelOffset>0 0 -9.79999999586</accelOffset>
	  <accelDrift>0.00000001 0.00000001 0.00000001</accelDrift>
	  <accelDriftFrequency>0.00000001 0.00000001 0.00000001</accelDriftFrequency>
	  <accelGaussianNoise>0.00000001 0.00000001 0.00000001</accelGaussianNoise>
	  <rateDrift>0.0 0.0 0.0</rateDrift>
	  <rateDriftFrequency>0.0 0.0 0.0</rateDriftFrequency>
	  <rateGaussianNoise>0.0 0.0 0.0</rateGaussianNoise>
	  <headingDrift>0.0 0.0 0.0</headingDrift>
	  <headingDriftFrequency>0.0 0.0 0.0</headingDriftFrequency>
	  <headingGaussianNoise>0.0 0.0 0.0</headingGaussianNoise>
	</plugin>
     </gazebo>

    <!-- Set up gps configuration -->
    <gazebo> 
	<plugin name="gps_controller" filename="libhector_gazebo_ros_gps.so">
	    <alwayson>true</alwayson>
	    <robotNamespace>/agribot</robotNamespace>	
	    <updateRate>5.0</updateRate>
	    <bodyname>gps_link</bodyname>
	    <topicname>fix</topicname>
	    <velocitytopicname>fix_velocity</velocitytopicname>
	    <drift>5.0 5.0 5.0</drift>
	    <offset>0 0 0</offset>
	    <status> 0 </status>
	    <service> 1 </service>
            <referenceLatitude> 21.1613108102 </referenceLatitude>
	    <referenceLongitude> 72.7869817026 </referenceLongitude>			
	    <gaussiannoise>0.1 0.1 0.1</gaussiannoise>
	    <velocitydrift>0 0 0</velocitydrift>
	    <velocitygaussiannoise>0.1 0.1 0.1</velocitygaussiannoise>
	</plugin>
     </gazebo>

	<gazebo>
		<plugin name="magnetometer" filename="libhector_gazebo_ros_magnetic.so">
			<updateRate>5.0</updateRate>
			<robotNamespace>/agribot</robotNamespace>
			<bodyName>base_link</bodyName>
			<topicName>/magnetic</topicName>
			<magnitude>1.0</magnitude>
			<referenceHeading>0.0</referenceHeading>
			<declination>0.0</declination>
			<!--<inclination>0.0</inclination>-->
			<offset>0 0 0</offset>
			<drift>0.1 0.1 0.1</drift>
			<driftFrequency>10 10 10</driftFrequency>
			<gaussianNoise>0.1 0.1 0.1</gaussianNoise>
		</plugin>
	</gazebo>
</robot>

