<launch>
	<include file="$(find gazebo_ros)/launch/empty_world.launch">	    
		<arg name="world_name" value="$(find agribot_description)/worlds/Farm.world"/>	    
		<arg name="gui" value="true"/>
		<arg name="recording" default="true"/>	  
	</include>

	<!-- urdf xml robot description loaded on the Parameter Server, converting the xacro into a proper urdf file-->
	<param name="robot_description" command="$(find xacro)/xacro '$(find agribot_description)/urdf/agribot_sensors.urdf.xacro'" />
	<param name="pole_description" command="$(find xacro)/xacro '$(find agribot_description)/urdf/gate_sensor.urdf'" />

	<!-- push robot_description to factory and spawn robot in gazebo -->
	<!--<node name="agribot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
 		args="-urdf -x 0 -y 2 -z 0 -param robot_description  -model agribot"/>

	<node name="agribot_pole_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
 		args="-urdf -x 0 -y 0 -z 0 -param pole_description  -model Pole"/>-->	

	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
		<param name="use_gui" value="False"/>
		<!--<remap from="/joint_state_publisher" to="/agribot/joint_states" />-->
		 <rosparam param="/source_list">[agribot/joint_states]</rosparam>
			<!--gazebo publishes the joint states to /robotname/joint_states topic and rviz listens to /joint_states topic
			source list param takes the values from /robotname/joint_states and publishes to /joint_states-->
	</node>
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
		<remap from="/joint_states" to="/agribot/joint_states" />
	</node>
  	<!--<node name="rviz" pkg="rviz" type="rviz" args="-d $(find urdf)/urdf.rviz" />-->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find agribot_description)/rviz/agribot_urdf.rviz" >
		<!--<remap from="/agribot/camera_link" to="/camera_link">-->
	</node>
	<include file="$(find agribot_control)/launch/agribot_control.launch"/>

  <node
    name="tf_"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 odom map 100"
      ns="agribot"	 />
  
  <!--<node
    name="fake_joint_calibration"
    pkg="rostopic"
    type="rostopic"
    args="pub /calibrated std_msgs/Bool true"
      ns="agribot"	 /> -->

<!--<node name="map_server" pkg="map_server" type="map_server"
		 args="$(find agribot_description)/maps/farm.yaml" output="screen">
	<param name="frame_id" value="map"/>
</node>-->

	<!--<node name = "autonomusdrive" pkg = "autonomous_drive" type = "autonomus_drive.py" ns = "agribot"/>-->
	<node name = "gps_converter" pkg = "autonomous_drive" type = "GPS_data_conversion.py" ns = "agribot" launch-prefix="xterm -e"/>
	<node name = "sensor_data" pkg = "autonomous_drive" type = "data_manipulation.py" />
<!--rosrun image_view image_view image:=/mybot/camera1/image_raw-->
	
</launch>
